
.metadata
bin/
tmp/
/php/Temp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
Temp/368b6ece0780fb95ff0dacd6bd054170a122813e_0.file.Footer.tpl.php
Temp/7418d559c03327b92582735df7129aaf9f61889c_0.file.page_contact.tpl.php
Temp/925a6883b7f998872355ab4dbd521906eae4a1f2_0.file.Head.tpl.php
Temp/d06b68ce3d1bed7c7a61574190e7a28b870cf6a9_0.file.page_faq.tpl.php
Temp/49ad99301a5bc75a8eeee6589a4a643b93eead5f_0.file.RecoverSuccess.tpl.php
Temp/7f0e1eb49e0e486bcbadb761aa48b96e0115833d_0.file.ErrorPage.tpl.php
Temp/b219b3c251835469c2d168c27eddaf6b5390a7d3_0.file.SuccesPage.tpl.php
